<%= form_for @shareholder do |form|%>
<div>
<%= form.label :name, " Name" %>
<%= form.text_field :name %>

</div>
 <div>
 <%= form.label :deposit, "Deposit Amount"%>
 <%= form.text_field :deposit %>
 </div>
 <div>
 <%= form.label :gender, "Gender" %>
 <%= form.select :gender, ["female", "male"] %>
 </div>
 <div>
 <%= form.label :iban, "Bank ID" %>
 <%= form.text_field :iban %>
 </div>
 <div>
 <%= form.label :mobile, "Mobile Number" %>
 <%= form.text_field :mobile %>
 </div>
  <%= form.submit %>
  <% end %>