<div class="home">
<% if session[:mobile] == nil%>
<h3>للمصرح لهم فقط</h3>
<h3><%= link_to("هنا" , root_path	)  %>اذا كنت عضوا سجل دخولك </h3>
<% else%>
<% if shareholders.find_by(mobile: session[:mobile]).is_admin
 %>
<h3> سجل اقتراض <%= @shareholder.name %></h3>

<%= link_to("New Transaction" , new_transaction_path	) %>
<% @shareholder.accounts.each do |account|%>
<% end %>
<% @shareholder.transactions.each do |shareholder_transaction| %>
<table id="table">
<thead>
<tr>
    <th>Amount</th>
   
    <th>Approved</th>
  
    
  </tr>
</thead>

<tr>
    <td><%= shareholder_transaction.amount%></td>
    


    <td><%= shareholder_transaction.is_approved%></td>
   
  </tr>
</table>
<br>
<% end %>
<% end %>
<% end %>
</div>


