<div class="home">
<% if session[:mobile] == nil%>
<h3>للمصرح لهم فقط</h3>
<h3>اذا كنت عضوا سجل دخولك <%= link_to("هنا" , root_path	)  %></h3>
<% else%>
<% if shareholders.find_by(mobile: session[:mobile]).is_admin
 %>
<h2>All Borrowers </h2>
<table >
<tr>
    <th>المقترض</th>
    <th>المبلغ</th>
    <th>القسط</th>
    <th>تاريخ البدء</th>
    <th>حالة الطلب</th>  
  </tr>
<% @transactions.each do |transaction|%>
<tr>
    <td class="name"><%= link_to(transaction.shareholder.name , shareholder_path(transaction.shareholder)) %></td>
       <td><%= transaction.amount%></td>
        <td><%= transaction.plan%></td>
       <td><%= (transaction.created_at).strftime("%B %e, %Y")%></td>
    <td><%= transaction.is_approved%> 
    <%= form_tag "/transactions/#{transaction.id}/approve", method: :put, :class => "approve" do %>
        <%= submit_tag "Approve", class: "approve"%>
    <% end %></td>   
</tr>

<% end %>
</table>
<% end %>
<% end %>
</div>
