<div class="home">

<% @accounts.each do |account|%>
<h2><%= link_to("صندوق القرض الحسن " , account_path(account)) %></h2>


<div class="container">

<div class="info">
<h3> عدد المساهمين : <%= account.shareholders.count%></h3>
<% total = 0 %>
<% deposits = 0%>
<% transactions = [] %>
<% count = 0 %>
<% account.shareholders.each {|shareholder| deposits += shareholder.deposit}%>
<% account.shareholders.each do |shareholder| %>
<%  shareholder.transactions.each do |transaction| %>
<% if transaction.is_approved && transaction.amount != nil%>
<% transactions.push( transaction.amount)%>
<% count +=1 %>
<% end %>
<% end %>
<% end %>
<h3>رأس مال الصندوق : <%= deposits %> ريال  </h3>
<h3>إجمالي القروض الحالية :  29,105.25   ريال  </h3>
<h3> عدد المقترضين : <%= count %></h3>
</div>


<%= pie_chart(account.shareholders.group(:gender).count, colors: [ '#86AC41', '#7DA3A1', '#333' ], title: " نسبة المساهمين من الذكور والإناث", height: '400px', width: '400px', library: {backgroundColor: "#e5e2df", fontSize: 15, fontFamily: "'Cairo', sans-serif"}) %></div>
<% end %>


</div>


